<div class="row">
    <div class="col-1">
        <a href="/Home" class="btn btn-secondary btn-md mt-1 mb-1"><i class="bi bi-arrow-left-square"></i></a>
    </div>
    <div class="col-11">
        <h1>Access Denied</h1>
    </div>
</div>