@inject IConfigHelper config
@inject ITranslationHelper translator
@using CarCareTracker.Helper
@model List<EquipmentRecord>

@{
    var userLanguage = config.GetUserConfig(User).UserLanguage;
}

@if (Model.Any())
{
    <div id="equipmentSelector">
        <ul class="list-group">
            @foreach (EquipmentRecord equipmentRecord in Model)
            {
                <li class="list-group-item text-start">
                    <input class="form-check-input" type="checkbox" value="@equipmentRecord.Id" id="equipmentCheck_@equipmentRecord.Id" checked="@equipmentRecord.IsEquipped">
                    <label class="form-check-label stretched-link" for="equipmentCheck_@equipmentRecord.Id">@equipmentRecord.Description</label>
                </li>
            }
        </ul>
    </div>
}