@model List<UserCollaborator>
<div class="row">
    <div class="col-12">
        <span class="lead">Collaborators</span>
    </div>
</div>
<ul>
    @foreach (UserCollaborator user in Model)
    {
        <li>@user.UserName</li>
    }
</ul>