@using CarCareTracker.Helper
@inject IConfigHelper config
@inject ITranslationHelper translator
@{
    var userConfig = config.GetUserConfig(User);
    var userLanguage = userConfig.UserLanguage;
}
@model string
<div class="row">
    <div class="col-12">
        <a onclick="showSuppliesModal()" class="btn btn-link">@translator.Translate(userLanguage,"Choose Supplies")</a>
    </div>
</div>
<script>
    resetSuppliesModal();
    function GetCaller() {
        return { tab: '@Model' };
    }
    function resetSuppliesModal() {
        $("#inputSuppliesModalContent").html("");
    }
    function selectSupplies() {
        var selectedSupplyResult = getSuppliesAndQuantity();
        var caller = GetCaller().tab;
        switch (caller) {
            case "ServiceRecord":
                $('#serviceRecordCost').val(selectedSupplyResult.totalSum);
                break;
            case "RepairRecord":
                $('#collisionRecordCost').val(selectedSupplyResult.totalSum);
                break;
            case "UpgradeRecord":
                $('#upgradeRecordCost').val(selectedSupplyResult.totalSum);
                break;
            case "PlanRecord":
            case "PlanRecordTemplate":
                $('#planRecordCost').val(selectedSupplyResult.totalSum);
                break;
        }
        selectedSupplies = getSuppliesAndQuantity().selectedSupplies;
        copySuppliesAttachments = $("#inputCopySuppliesAttachments").is(':checked');
        hideSuppliesModal();
    }
    function hideParentModal(){
        var caller = GetCaller().tab;
        switch (caller) {
            case "ServiceRecord":
                $('#serviceRecordModal').modal('hide');
                break;
            case "RepairRecord":
                $('#collisionRecordModal').modal('hide');
                break;
            case "UpgradeRecord":
                $('#upgradeRecordModal').modal('hide');
                break;
            case "PlanRecord":
            case "PlanRecordTemplate":
                $('#planRecordModal').modal('hide');
                break;
        }
    }
    function showParentModal() {
        var caller = GetCaller().tab;
        switch (caller) {
            case "ServiceRecord":
                $('#serviceRecordModal').modal('show');
                break;
            case "RepairRecord":
                $('#collisionRecordModal').modal('show');
                break;
            case "UpgradeRecord":
                $('#upgradeRecordModal').modal('show');
                break;
            case "PlanRecord":
            case "PlanRecordTemplate":
                $('#planRecordModal').modal('show');
                break;
        }
    }
    function showSuppliesModal() {
        if ($("#inputSuppliesModalContent").html() == "") {
            getSupplies();
        } else {
            hideParentModal();
            $('#inputSuppliesModal').modal('show');
        }
    }
    function getSupplies() {
        var caller = GetCaller().tab;
        if (caller == 'PlanRecordTemplate') {
            var planRecordTemplateId = getPlanRecordModelData().id;
            $.get(`/Vehicle/GetSupplyRecordsForPlanRecordTemplate?planRecordTemplateId=${planRecordTemplateId}`, function (data) {
                if (data) {
                    hideParentModal();
                    $("#inputSuppliesModalContent").html(data);
                    $('#inputSuppliesModal').modal('show');
                    recalculateTotal();
                }
            });
        } else {
            var vehicleId = GetVehicleId().vehicleId;
            $.get(`/Vehicle/GetSupplyRecordsForRecordsByVehicleId?vehicleId=${vehicleId}`, function (data) {
                if (data) {
                    hideParentModal();
                    $("#inputSuppliesModalContent").html(data);
                    $('#inputSuppliesModal').modal('show');
                }
            });
        }
    }
    function hideSuppliesModal() {
        $('#inputSuppliesModal').modal('hide');
        showParentModal();
    }
</script>