@{
    ViewData["Title"] = "LubeLogger - Login";
}
@section Scripts {
    <script src="~/js/login.js" asp-append-version="true"></script>
}
<div class="container d-flex align-items-center justify-content-center" style="height:100vh">
    <div class="row">
        <div class="col-12">
            <img src="/defaults/lubelogger_logo.png" />
            <div class="form-group">
                <label for="inputUserName">Username</label>
                <input type="text" id="inputUserName" class="form-control">
            </div>
            <div class="d-grid">
                <button type="button" class="btn btn-warning mt-2" onclick="requestPasswordReset()"><i class="bi bi-box-arrow-in-right me-2"></i>Request</button>
            </div>
            <div class="d-grid">
                <a href="/Login/ResetPassword" class="btn btn-link mt-2">I Have a Token</a>
            </div>
            <div class="d-grid">
                <a href="/Login/Index" class="btn btn-link mt-2">Back to Login</a>
            </div>
        </div>
    </div>
</div>