@using CarCareTracker.Helper
@model List<ReminderRecordViewModel>
<script>
    var eventDates = [];
    var groupedDates = [];
    @foreach(ReminderRecordViewModel reminderRecord in Model)
    {
        @:eventDates.push({ id: @reminderRecord.Id, date: decodeHTMLEntities('@StaticHelper.GetEpochFromDateTime(reminderRecord.Date)'), description: decodeHTMLEntities('@reminderRecord.Description'), urgency: decodeHTMLEntities('@reminderRecord.Urgency.ToString()') });
    }
</script>
<div class="row vehicleDetailTabContainer">
    <div class="col-12 reminderCalendarView">
        <div class="reminderCalendarViewContent" style="height:60vh;">
        </div>
    </div>
</div>
<script>
    initCalendar();
</script>