@inject IConfiguration Configuration
@{
    var enableAuth = bool.Parse(Configuration[nameof(UserConfig.EnableAuth)]);
}
@model string
@{
    ViewData["Title"] = "LubeLogger";
}
@section Scripts {
    <script src="~/js/garage.js" asp-append-version="true"></script>
}
<div class="container">
    <div class="row mt-2">
        <div class="d-flex justify-content-center">
            <img src="/defaults/lubelogger_logo.png"/>
        </div>
    </div>
    <hr />
    <ul class="nav nav-tabs" id="homeTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link @(Model == "garage" ? "active" : "")" id="garage-tab" data-bs-toggle="tab" data-bs-target="#garage-tab-pane" type="button" role="tab"><i class="bi bi-car-front me-2"></i>Garage</button>
        </li>
        <li class="nav-item ms-auto" role="presentation">
            <button class="nav-link @(Model == "settings" ? "active" : "")" id="settings-tab" data-bs-toggle="tab" data-bs-target="#settings-tab-pane" type="button" role="tab"><i class="bi bi-gear me-2"></i>Settings</button>
        </li>
        @if (enableAuth)
        {
            <li class="nav-item">
                <button class="nav-link" onclick="performLogOut()">Logout</button>
            </li>
        }
    </ul>
    <div class="tab-content" id="homeTab">
        <div class="tab-pane fade @(Model == "garage" ? "show active" : "")" id="garage-tab-pane" role="tabpanel" tabindex="0">
            <div class="row">
                <div id="garageContainer" class="row gy-3 align-items-stretch">
                </div>
            </div>
        </div>
        <div class="tab-pane fade @(Model == "settings" ? "show active" : "")" id="settings-tab-pane" role="tabpanel" tabindex="0">

        </div>
    </div>
</div>

<div class="modal fade" id="addVehicleModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="addVehicleModalContent">
           
        </div>
    </div>
</div>
<script>
    loadGarage();
    loadSettings();
</script>