@{
    ViewData["Title"] = "LubeLogger";
}
@section Scripts {
    <script src="~/js/garage.js" asp-append-version="true"></script>
}
<div class="container">
    <div class="row mt-2">
        <div class="d-flex justify-content-center">
            <img src="/defaults/lubelogger_logo.png"/>
        </div>
    </div>
    <hr />
    <ul class="nav nav-tabs" id="homeTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="garage-tab" data-bs-toggle="tab" data-bs-target="#garage-tab-pane" type="button" role="tab" aria-selected="true"><i class="bi bi-car-front me-2"></i>Garage</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="settings-tab" data-bs-toggle="tab" data-bs-target="#settings-tab-pane" type="button" role="tab" aria-selected="false"><i class="bi bi-gear me-2"></i>Settings</button>
        </li>
    </ul>
    <div class="tab-content" id="homeTab">
        <div class="tab-pane fade show active" id="garage-tab-pane" role="tabpanel" tabindex="0">
            <div class="row">
                <div id="garageContainer" class="row gy-3 align-items-stretch">
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="settings-tab-pane" role="tabpanel" tabindex="0">

        </div>
    </div>
</div>

<div class="modal fade" id="addVehicleModal" tabindex="-1" role="dialog" aria-labelledby="addVehicleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addVehicleModalLabel">Add New Vehicle</h5>
            </div>
            <div class="modal-body">
                <form class="form-inline">
                    <div class="form-group">
                        <label for="inputYear">Year</label>
                        <input type="number" id="inputYear" class="form-control">
                        <label for="inputMake">Make</label>
                        <input type="text" id="inputMake" class="form-control">
                        <label for="inputModel">Model</label>
                        <input type="text" id="inputModel" class="form-control">
                        <label for="inputLicensePlate">License Plate</label>
                        <input type="text" id="inputLicensePlate" class="form-control">
                        <label for="inputImage">Upload a picture(optional)</label>
                        <input onChange="uploadFileAsync()" type="file" accept=".png,.jpg,.jpeg" class="form-control-file" id="inputImage">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="hideAddVehicleModal()">Cancel</button>
                <button type="button" onclick="addVehicle()" class="btn btn-primary">Add New Vehicle</button>
            </div>
        </div>
    </div>
</div>