@using CarCareTracker.Helper
@{
    ViewData["Title"] = "Kiosk";
}
@model KioskViewModel
@section Scripts {
    <script src="~/lib/masonry/masonry.min.js"></script>
    <script src="~/lib/drawdown/drawdown.js"></script>
    <script src="~/js/kiosk.js?v=@StaticHelper.VersionNumber"></script>
}
<div class="no-top-pad">
    <div class="progress" role="progressbar" aria-label="Refresh Progress" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="height: 1px">
        <div class="progress-bar" style="width: 0%"></div>
    </div>
    <div id="kioskContainer" class="container-fluid">
    </div>
</div>
<script>
    let refreshTimer;
    let exceptionList = [];
    let subtractAmount = 0;
    let kioskMode = '@Model.KioskMode';
    let currentKioskMode = 'Plan';
    let kioskWakeLock;

    @foreach(int exception in Model.Exclusions)
    {
        @:exceptionList.push(@exception);
    }
    initKiosk();
</script>