html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

.card {
    border-radius: 4px;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    cursor: pointer;
}


    .card:hover {
        transform: scale(1.05);
        box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
    }

.vehicleDetailTabContainer {
    max-height: 65vh;
    overflow-y: auto;
    overflow-x: auto;
}
.reportTabContainer {
    max-height: 85vh;
    overflow-y: auto;
    overflow-x: auto;
}

.vehicleDetailTabContainer.fixed {
    height: 65vh;
}

.swimlane{
    height:100%;
}
.swimlane.mid {
    border-right-style: solid;
}
.swimlane.end {
        border-left-style: solid;
    }

.showOnPrint {
    display: none;
}

@media print {
    .hideOnPrint {
        display: none;
    }

    .showOnPrint {
        display: block !important;
    }

    .vehicleDetailTabContainer {
        background-color: #fff !important;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        font-size: 14px;
        line-height: 18px;
        color: #000 !important;
        overflow: visible;
    }

    body {
        background-color: #fff !important;
    }

    table {
        background-color: #fff !important;
    }

    ul {
        border: 0px !important;
        background-color: #fff !important;
    }

    li {
        color: #000 !important;
        border: 0px !important;
        background-color: #fff !important;
    }

    td {
        color: #000 !important;
        border: hidden;
        background-color: #fff !important;
    }

        td.col-1 {
            width: 10%;
        }

        td.col-4.text-wrap {
            width: 30%;
        }

    .col-2.servicehistorytype {
        width: 13%;
    }
    .col-1.servicehistorydate{
        width: 13%;
    }

    th.col-1 {
        width: 10%;
    }

    th {
        color: #000 !important;
        background-color: #fff !important;
    }

    tr {
        border: hidden;
    }
}

.chartContainer {
    height: 30vh;
    overflow: auto;
}

.vehicleNoteContainer {
    height: 40vh;
}

.display-7 {
    font-size: calc(1.325rem + 0.9vw);
    font-weight: 300;
    line-height: 1.2;
}

@media (min-width: 1200px) {
    .display-7 {
        font-size: 2rem;
    }
}

.reportsCheckBoxContainer {
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
}

.bell-shake {
    animation: bellshake .5s;
    backface-visibility: hidden;
    transform-origin: top center;
}

.tablerow-shake {
    animation: tablerowshake 1.2s cubic-bezier(.36, .07, .19, .97) both;
    backface-visibility: hidden;
    transform: translate3d(0, 0, 0);
}

@keyframes tablerowshake {

    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

@keyframes bellshake {
    0% {
        transform: rotate(0);
    }

    15% {
        transform: rotate(5deg);
    }

    30% {
        transform: rotate(-5deg);
    }

    45% {
        transform: rotate(4deg);
    }

    60% {
        transform: rotate(-4deg);
    }

    75% {
        transform: rotate(2deg);
    }

    85% {
        transform: rotate(-2deg);
    }

    92% {
        transform: rotate(1deg);
    }

    100% {
        transform: rotate(0);
    }
}

/*Media Queries*/
@media (max-width: 576px) {
    .lubelogger-tab {
        display: none;
    }

    .lubelogger-navbar {
        justify-content: space-between;
    }

    .lubelogger-navbar-button {
        display: flex;
        align-items: center;
    }

        .lubelogger-navbar-button > button {
            padding: 0;
            font-size: 2rem;
        }

    .lubelogger-menu-icon {
        display: inline-block;
        width: 1.5em;
        height: 1.5em;
    }

    .lubelogger-mobile-nav {
        background-color: var(--bs-body-bg);
        height: max(100vh, 100%);
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        display: none;
        z-index: 2000;
    }

    .lubelogger-mobile-nav-show {
        display: block;
    }

    .lubelogger-mobile-nav > ul > li > .nav-link.active {
        color: #6ea8fe;
    }
}

@media(min-width: 576px) {
    .lubelogger-mobile-nav-show {
        display: none;
    }

    .lubelogger-mobile-nav {
        display: none;
    }

    .lubelogger-navbar {
        justify-content: center;
    }

    .lubelogger-navbar-button {
        display: none;
    }
}

.dropdown-menu.show {
    z-index: 1030;
}

.table-context-menu {
    z-index: 1030;
}

input[type="file"] {
    max-width: 100%;
}

.uploadedFileName {
    max-width: 75%;
}

.taskCard {
    max-height: 20vh;
    padding:0.5rem;
    overflow:hidden;
    border-radius: 4px;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    cursor: pointer;
}
.taskCard.nodrag{
    cursor:not-allowed;
}
.taskCard-title{
    font-size:1.5rem;
    font-weight:300;
    max-height:10vh;
}
[data-bs-theme=dark] .taskCard {
    background-color: rgba(255,255,255,0.5);
}
[data-bs-theme=light] .taskCard {
    background-color: rgba(80,80,80,0.25);
}
.override-hide{
    display: none !important;
}
.reminderCalendarViewContent .datepicker, .reminderCalendarViewContent .datepicker-inline, .reminderCalendarViewContent .datepicker-days, .reminderCalendarViewContent .table-condensed {
    width: 100%;
    height: 100%;
    table-layout: fixed;
    cursor: default;
}
.reminder-exist{
    overflow:auto;
    vertical-align:top;
}
.reminder-exist p{
    margin:0;
}
.reminderCalendarViewContent .datepicker table tr td.day {
    cursor: default;
}
.reminderCalendarViewContent .datepicker table tr td.day:hover {
    cursor: default;
}
.reminder-calendar-item{
    cursor: pointer;
}
.zero-y-padding{
    padding-top: 0rem;
    padding-bottom: 0rem;
}
.vehicle-sold-banner {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    text-align: center;
    position: absolute;
    z-index: 10;
}
.copyable{
    cursor: pointer;
}